body, html {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   color: #333;
}

.intro, .research {
   text-align: center;
   padding: 50px;
   background-color: #ffffff;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   margin: 20px;
}
